<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SQL_Server" value="MKASZTA\SQLEXPRESS"/>
    <add key="SQL_DB" value="SNOL_ERP"/>
    <add key="SQL_User" value="sa"/>
    <add key="SQL_Password" value="sql"/>
  </appSettings>
</configuration>