<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SQL_Server" value="DESKTOP-PKIRV2L\SQLEXPRESS"/>
    <add key="SQL_DB" value="SNOL_ERP"/>
    <add key="SQL_User" value="sa"/>
    <add key="SQL_Password" value="sql"/>

    <add key="mail_subject" value="Przykładowy tytuł"/>
    <add key="mail_body" value="Przykładowa treść (html)"/>
    <add key="mail_attachmentDirectory" value="C:\Users\MegaBit\Downloads\snol\raporty\zalaczniki\"/>
    
    <add key="shortReport_template" value="C:\Users\MegaBit\Downloads\snol\raporty\szablon.xls"/>
    <add key="shortReport_linesFirstPage" value="19"/>
    <add key="shortReport_linesPerPage" value="16"/>
  </appSettings>
</configuration>